@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

    background-color: aliceblue;
    position: relative!;
}

.about-us-content-link-container span{
  left: 50%;
  transform: translateX(-50%);
}
.about-us-content-link-item:hover .about-us-item-img-container{
  display: block !important;
  top: 0;
  left: 0;
}





.aca-card-img-container .card-img-hover-effect{
  transform: translate(-50%, -50%);
}




#university-statistic{
  background-image: url('../asset/image/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 5;
}
#university-statistic::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #29293163;
  z-index: -1;
}

footer{
  background-color: #292931;
}


















/* portal page start*/

.portal-container{
  transform: translate(-50%, -50%);
}





/* portal page end*/

/*  Set notice style starts here */
.setNotice-formContainer{
  height: 50vh;
  width: 80vh;
  position: absolute;
  top:25%;
  left: 35%;
  background: whitesmoke;
  padding: 15px;
}
 textarea {
  height: 30vh;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical
}

.setNotice-btn{
  outline: 1px solid black;
  position: relative;
  left: 60%;
  margin: 5px 10px;
  padding: 5px 10px;
  border-radius: 4px;
}
.setNotice-btn1{
  outline: 1px solid black;
  position: relative;
  left: 65%;
  margin: 5px 0px;
  padding: 5px 10px;
  border-radius: 4px;
}
/*  Set notice style ends here */





.dashboard-left-portion{
  width: 200px;
  box-sizing: border-box;
}
.dashboard-nav{
  min-width: 200px;
}
.dashboard-nav > ul{
  top: 50%;
  transform: translateY(-50%);
}


.dashboard-right-portion{
  box-sizing: border-box;
  width: calc(100% - 200px);
}









@media(max-width: 767px){
  .nav-logo-bar{
    width: 50%;
  }
  .nav-primary-links-bar{
    display: none;
  }

  .nav-secondary-links-bar{
    display: none;
  }

  .nav-menu-bar{
    display: block;
    width: 50%;
    text-align: right;
    padding: .75rem 0;
  }
}

@media(max-width: 519px){
  .nav-logo-bar{
    width: 50%;
  }
  .nav-primary-links-bar{
    display: none;
  }

  .nav-secondary-links-bar{
    display: none;
  }

  .nav-menu-bar{
    display: block;
    width: 50%;
    text-align: right;
    padding: .75rem 0;
  }
  .dashboard-left-portion{
    width: 100%;
  }

  .dashboard-right-portion{
    width: 100%;
  }
}